<?xml version="1.0" encoding="UTF-8"?>
<EVENTS_0_16>
    <EVENT NAME="on_269_Icon_Button1_release" TRIGGER="2" SOURCE_ID="269">
        <ACTION INDEX="12" RECURRENCY="0" IMAGE_ID="19" TARGET="240"/>
    </EVENT>
    <EVENT NAME="on_266_Icon_Button1_release" TRIGGER="2" SOURCE_ID="266">
        <ACTION INDEX="12" RECURRENCY="0" IMAGE_ID="15" TARGET="240"/>
    </EVENT>
    <EVENT NAME="on_278_Icon_Button1_release" TRIGGER="2" SOURCE_ID="278">
        <ACTION INDEX="12" RECURRENCY="0" IMAGE_ID="17" TARGET="240"/>
    </EVENT>
    <EVENT NAME="on_290_Toggle_Button1_release" TRIGGER="2" SOURCE_ID="290">
        <ACTION INDEX="4" RECURRENCY="2" DIRECTION="1" DURATION="0.5" EFFECT="2" RETRIGGER="0" TARGET="1"/>
    </EVENT>
    <EVENT NAME="on_293_Toggle_Button1_release" TRIGGER="2" SOURCE_ID="293">
        <ACTION INDEX="4" RECURRENCY="2" DIRECTION="0" DURATION="0.5" EFFECT="2" RETRIGGER="0" TARGET="171"/>
    </EVENT>
    <EVENT NAME="on_291_Toggle_Button1_release" TRIGGER="2" SOURCE_ID="291">
        <ACTION INDEX="4" RECURRENCY="2" DIRECTION="1" DURATION="0.5" EFFECT="3" RETRIGGER="0" TARGET="67"/>
    </EVENT>
    <EVENT NAME="on_292_Toggle_Button1_release" TRIGGER="2" SOURCE_ID="292">
        <ACTION INDEX="4" RECURRENCY="2" DIRECTION="0" DURATION="0.5" EFFECT="3" RETRIGGER="0" TARGET="171"/>
    </EVENT>
    <EVENT NAME="on_67_BrewScreen_entered" TRIGGER="7" SOURCE_ID="67">
        <ACTION INDEX="8" RECURRENCY="2" DURATION="5" EASING="0" EAS_IN="1" EAS_INOUT="0" EAS_OUT="0" IS_PERCENT="1" RETRIGGER="0" TARGET="77" VALUE="100"/>
        <ACTION INDEX="8" RECURRENCY="2" DURATION="8" EASING="0" EAS_IN="1" EAS_INOUT="0" EAS_OUT="0" IS_PERCENT="1" RETRIGGER="0" TARGET="74" VALUE="100"/>
    </EVENT>
</EVENTS_0_16>
